

  <form class=" mt-5" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre:</label>
      <input type="text" class="form-control"  id="name" formControlName="name" placeholder="name" required>
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name:</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="last name" required>
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Phone Numer:</label>
        <input type="text" class="form-control"  id="phone" formControlName="phoneNumber" placeholder="phone number" required>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Direccion:</label>
      <input type="text" class="form-control"  id="phone" formControlName="direccion" placeholder="direccion" required>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Direccion 2:</label>
    <input type="text" class="form-control"  id="phone" formControlName="direccion2" placeholder="direccion (opional)">
</div>
    <button type="submit"  class="btn btn-primary" [disabled]="!clientForm.valid">Add Client</button>
  </form>